
/* GENERAL STYLE */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

p{
    color: rgb(85,85,85);
}

/* TRANSITION */

a,
.btn{
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
}

/* Navigation */

.navbar{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #333;
    color: white;
}

.navbar-links ul{
    list-style: none;
    font-size: 1rem;
    display: flex;
}

.navbar-links li a{
    color: white;
    text-decoration: none;
    text-decoration-color: white;
    -moz-text-decoration-color: white;
    padding: 1.5rem;
    display: block;
}


.navbar-links li:hover{
    background-color: #555;
}

.logo{
    font-size: 1.5rem;
    margin: .5rem;
    margin-left: 2rem;
}

.logo:hover{
    cursor: default;
}

.toggle-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 18px;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

@media (max-width: 550px) {
    .toggle-button{
        display: flex;
    }
    .navbar-links{
        display: none;
        width: 100%;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links ul{
        width: 100%;
        flex-direction: column;
    }
    .navbar-links li{
        text-align: center;
    }
    .navbar-links li a{
        padding: .5rem .1rem;
    }
    .navbar-links.active{
        display: flex;
    }
}
